@media (max-width: 480px){

.order
{
    height: auto;
}
.order .order-area
{
    display: flex;
    flex-direction: column;
}
.order .order-area .location
{
    margin-left: 3rem;
}
.order .order-area .location h2 
{
    font-size: 16px;
}
.order .order-area .location iframe 
{
    width: 90%;
}
.order .order-area .order-form
{
    margin-top: 4rem;
    width: 80%;
    height: 80vh;
    margin-left: 3rem;
    margin-bottom: 6rem;
    padding: 20px 20px 10px 20px;
}
.order .order-area .order-form input 
{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 12px;
    padding: 10px;
}
.order .order-area .order-form textarea
{
    font-size: 18px;
}
}